{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/emi.css' %}">
    <title>CONSLOAN</title>
    <style>
       a{
        text-decoration-line: none;
        
       }
       html{
        font-size: 20px;
       }
      
    </style>

</head>
<body>
<nav class="navbar navbar-light bg-black h-20">
     <a href="loan.html"> <p class="fs-2 ms-3 text-warning"> CONSLOAN</p>  </a>
    <a href="{% url 'logout' %}" id="sign"><div class="fs-3 bg-warning  text-white   me-5 pt-0 " >Log Out</div></a>
  </nav>
  <div class="bg-image" style="background-image: url( '{% static 'images/new.jpg' %}'); height: 100vh; background-repeat: no-repeat; background-size: cover; ">
        <div style="background-color: rgba(0, 0, 0, 0.8); height: 100vh;"> 

        <div style="padding:30px;"> 
            <div style="background-color: rgba(0, 0, 0, 0.8); height: 75vh;">
                <div class="table-responsive">
                  {% if obj %}  
                   <a href="{% url 'payment' obj.0.id %}"><p class="text-warning">Pay EMI</p></a>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Loan Account Number</th>
                            <th scope="col">Loan Amount</th>
                            <th scope="col">Emi</th>
                            <th scope="col">Tenure(in months)</th>
                            <th scope="col">EMIs Paid</th>
                          </tr>
                        </thead>
                        <tbody>
                         {% for i in obj %}
                          <tr>
                            <th scope="row">{{i.profile.id}}</th>
                            <td>{{i.profile.loanamount}}</td>
                            <td>{{emi}}</td>
                            <td>24</td>
                            <td>{{noemi}}/24</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    {% else %}
                         <h1 class="text-warning p-3">You have no active loan accounts</h1>
                    {% endif %}
                </div>
            </div> 

          </div>
            
        </div>

           
    
    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>