<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONSLOAN</title>
</head>
<body>
    {% if cibilscore %}
      <h1>Hai {{cibilscore.client_name}}</h1>
      <h1 id="a">Your score {{cibilscore.score}}</h1>
      <h1>Credit Limit:{{cibilscore.credit_limit}}</h1>
      <h1  >Your outstangding amount {{cibilscore.outstanding_balance}}</h1>
    {% endif %}
    {% if elgible %}
    <a href="{% url 'laf' %}"><h1>procced to take loan</h1></a>
    {% else %}
    <h1>you are not elgible</h1>
    {% endif %}
    <!-- <script>
        var c=document.getElementById('a').textContent;
        var d=c.split(' ').pop()
        var b=parseFloat(d)
        if (b>=700){
         alert('approved')
        }
        else{
            alert('Rejected')
        }
    </script> -->
</body>
</html>